@media(max-width: 1200px) {
    .container {
        max-width: 800px;
    }

    .Desc {
        width: 433px;
    }
    
    .Images {
        display: flex;
        justify-content: space-around;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }

    .Images > img {
        width: 300px;
    }

    .Right_Info {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        margin-left: 45px; 
    }
}

@media(max-width: 950px) {
    .container {
        max-width: 600px;
    }

    .Desc {
        width: 233px;
    }

    .Images {
        display: flex;
        justify-content: space-around;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    
    .Zetta_Desc {
        max-width: 600px;
        text-align: center;
    }

    .Images > img {
        width: 250px;
    }

    .Left_Info {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .Right_Info {
        display: flex;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}

@media(max-width: 800px) {
    .container {
        max-width: 450px;
    }

    .Info {
        flex-direction: column;
        align-items: center;
    }
    
    .Desc {
        width: 352px;
        height: 120px;
        margin-bottom: 15px;    
    }

    .Images {
        flex-direction: column;
        align-items: center;
    }
    
    .Images > img {
        width: 450px;
        margin-bottom: 25px;
    }

    .Preheader {
        text-align: center;
    }

    .Header {
        font-size: 32px;
        text-align: center;
    }

    .Header2 {
        font-size: 32px;
        text-align: center;
        line-height: 35px;
    }

    .Footer > .container {
        max-width: 550px;
    }

    .Left_Info {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .Right_Info {
        display: flex;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .Zetta {
        font-size: 16px;
    }

    .Links_Head {
        font-size: 16px;    
    }

    .Zetta_Desc {
        font-size: 12px;
    }

    .Links {
        font-size: 12px;
    }

    .Line_Text {
        font-size: 12px;
    }

    .Light_Text {
        display: none;
    }

    
    

    

    
}

@media(max-width: 500px) {
    .Images > img {
        width: 350px;
        margin-bottom: 25px;
    }   
}

@media(max-width: 410px) {
    .Images > img {
        width: 300px;
        margin-bottom: 25px;
    }   
}